<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>About Page</title>
</head>
<body>
  <h1>This is about page</h1>
  <hr>

   <!-- using fragment -->
     <div class="host-tag" 
     th:replace="${isLogin} ? ~{base :: parent(~{::section})} : ~{base :: tes(~{::#not_logged_in})}">
       
        <section>
            <h2>Dynamic Content</h2>
            <hr>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam rerum eius dolor sequi consectetur voluptate deleniti molestias doloremque quo quam? Laborum sequi atque pariatur perferendis vel mollitia aliquam quas voluptatum.
            
            </p>
            <button>
                this is button
            </button>
        </section>
        <section id = "not_logged_in">
            <h2>You are not logged in</h2>
            <p>Please log in to access more features.</p>
        </section>

     </div>

</body>
</html>
