<!DOCTYPE html>
<html lang="en" th:replace="base :: parent(~{::#content},~{::title},~{::script})">
<head>
   <title>About Page</title>
</head>
<body>
    <div id = "content">
        <h1>Welcome to About page</h1>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus iure quisquam corporis commodi eaque eveniet maxime pariatur, provident quos repellat ea voluptas fuga deserunt asperiores at ducimus beatae inventore. Ut!
    </div>
    <script>
        console.log("About page script loaded");
    </script>
</body>
</html>