<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
   <title>Service page</title>
</head>
<body>
    <section id ="content">
        <h1>Welcome to Services page</h1>
        <h2>Service offered by SCM.</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, deleniti magnam atque, eaque magni hic accusamus adipisci tenetur quibusdam qui, quaerat molestiae provident odit tempore porro veniam consequuntur possimus repellat.
    </section>
    <script>
        console.log("Service page script loaded");
    </script>
</body>
</html>